/.venv
/archive
/data
/doc

/bin/
/build/
/**/__pycache__

/lib/constants.py
/selfeval.code-workspace
/Project_selfEval.code-workspace
/1.*
/testlib.h
/auto.py

*copy.py

/demo/*
!/demo/interactive/
!/demo/subtask/
!/demo/grader/
!/demo/err/
